 
%plank {
    width: 64px;
    height: 2px;
    background-color: $orange-color;
    content: "";
}

%grey-p{
    font-family: $p-font;
    font-size: 14px;
    color: $grey-color;
}

%main-title{}

%first-section-title{
    font-family: $p-font;
    font-size: 20px;
    color: black;
    font-weight: 700;
}

%button{}