.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard {
  background-image: url(../images/header-img-min.png);
}

.dashdoard__box {
  width: 515px;
}

.dashdoard__title {
  font-size: 36px;
  font-family: $h-font;
  font-weight: 400;
  line-height: 1.2;
  color: snow;
  text-transform: uppercase;
}

.dashdoard__title:after {
  content: "";
  display: inline-block;
  width: 64px;
  height: 2px;
  background-color: snow;
  margin-top: 40px;
}

.dashdoard__desk {
  font-size: 16px;
  font-family: $h-font;
  font-weight: 300;
  line-height: 1.2;
  color: snow;
  padding-bottom: 47px;
}

.dashboard__btn {
  border: none;
  margin: 0;
  padding: 14px 30px;
  font-family: $p-font;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
  color: snow;
  background-color: transparent;
  border: 2px solid snow;
}

form {
  width: 360px;
  background-color: snow;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  width: 285px;
  height: 35px;
  margin-top: 46px;
  border: none;
  padding-left: 13px;
  box-sizing: border-box;
  font-size: 16px;
  color: $dark-color;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid rgba(204, 204, 204, .35);
  border-right: 1px solid rgba(204, 204, 204, .35)
}

input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: $p-font;
  color: rgb(189, 189, 189);
  text-transform: capitalize;
}

input:focus[name="user-name"]:valid {
  outline-color: green;
}

input:focus[name="user-name"]:invalid {
  outline-color: red;
}

input:focus[name="user-mail"]:valid {
  outline-color: green;
}

input:focus[name="user-mail"]:invalid {
  outline-color: red;
}

.form__box {
  width: 363px;
}

.form__title {
  margin: 0;
  background-color: rgb(245, 245, 245);
  font-size: 20px;
  font-family: $p-font;
  line-height: 1.2;
  font-weight: 700;
  text-transform: capitalize;
  color: $dark-color;
  width: 100%;
  padding: 20px 0 20px 50px;
  border-radius: inherit;
}

.form__title-link {
  font-size: 20px;
  font-family: $p-font;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: $orange-color;
}

.form__box-button {
  width: 100%;
  border: none;
  background-color: $orange-color;
  font-family: $p-font;
  font-size: 15px;
  font-weight: 600;
  color: snow;
  text-transform: capitalize;
  border-radius: inherit;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 40px;
}
