.dashboard{
  background-image: url(../images/header-img-min.png);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashdoard__box {
  width: 515px;
}

.form__box {
  width: 363px;
}
